.DS_Store
bin/

cocos2d/cocos/platform/android/java/gen/

proj.android/assets/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/

proj.ios_mac/funapi-plugin-cocos2dx.xcodeproj/xcuserdata/
proj.ios_mac/funapi-plugin-cocos2dx.xcodeproj/project.xcworkspace/xcuserdata/
proj.ios_mac/funapi-plugin-cocos2dx.xcodeproj/project.xcworkspace/xcshareddata/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/

cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/.d

cocos2d/build/build/
proj.ios_mac/build/

cocos2d/cocos/platform/android/libcocos2dx/build
proj.android-studio/.idea
proj.android-studio/app/funapi-plugin-cocos2dx.iml
proj.android-studio/proj.android-studio.iml

proj.win32/.vs/
proj.win32/Debug.win32/
proj.win32/libsodium-1.0.10/Debug.win32/
proj.win32/libsodium-1.0.10/test/default/aead_aes256gcm.obj

cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
